<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <div class="top-left-part">
        <a class="logo" href="#">
          <img src="assets/heart-logo.png" alt="home"/>
        </a>
      </div>
    </div>
  </nav>

  <div class="navbar-default sidebar" role="navigation">
    <div>

      <ul class="nav" id="side-menu">
        <li>
          <a class="active" href="#">
              <i class="fa fa-fw fa-dashboard"></i>Dashboard
            </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-home"></i>Properties
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-user-circle"></i>Contacts
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-tasks"></i>Tasks
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-calendar"></i>Calendar
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-line-chart"></i>Insights
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-wrench"></i>Tools
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-cog"></i>Admin
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-book"></i>Advice
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-sign-out"></i>Logout
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="page-wrapper">
    <div class="container-fluid">
      body
    </div>

    <footer class="footer text-center">&copy; MyHome.ie {{currYear}}</footer>
  </div>
</div>
