.panel-scrollable, .dropdown-menu-scrollable {
  max-height: 250px;
  overflow-y: auto;
}

.panel-scrollable hr, .slim-hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.panel-compact {
  padding: 1px;
}

.panel-rows .row {
  border-bottom: 1px solid #eee;
}

.panel-rows .row:last-of-type {
  border-bottom: 0px;
}

.pagerNext {
  color: Black;
  float: right;
}

.pagerNext a {
  width: 100px;
}

.pagerNext .pagerText {
  width: 100px;
}

.pagerNext .pagerText span {
  float: right;
}


.pagerPrevious {
  color: Black;
}

.pagerPrevious a {
  width: 100px;
}

.pagerPrevious a span {
  float: right;
  margin-left: 10px;
}

.breadcrumb > .active {
  color: white;
}

.bg-title .breadcrumb a {
  color: rgba(256,256,256,.5);
}

.search-result-container {
  border: 1px solid #d3d3d3;
  position: relative;
  background: #fff;
}

.search-result-container:hover {
  background: rgba(0, 0, 0, 0.07);
}

.search-result-container > a {
  color: black;
}

.search-result-container > a:hover {
  color: black;
}

.main-photo {
  max-height: 200px;
}

.dropdown-option {
  padding-left: 15px;
  padding-right: 15px;
  color: gray;
}

.list-group-horizontal {
  .list-group-item {
      display: inline-block;
      margin-bottom: 0;
      margin-left: -4px;
      margin-right: 0;
  }

  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
  }

  .list-group-item:last-child {
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0;
  }
}

.panel-list-item {
  padding: 5px 15px;
}

.large-select {
  height: 150px !important;
}
