/*@sidebar-width: 180px;
@sidebar-active-colour: black;
@sidebar-bg-colour: #2E97CB;

@topbar-size: 99px;
@bg-title-padding: 30px;
@bg-title-font-size: 24px;
@bg-title-bg-colour: #336699;
@logo-size: 50px;*/

@sidebar-width: 160px;
@sidebar-active-colour: #bfbfbf;
@sidebar-bg-colour: #2E97CB;

@topbar-size: 50px;
@bg-title-padding: 8px;
@bg-title-font-size: 14px;
@bg-title-bg-colour: #336699;
@logo-size: 35px;

@panel-bg-colour: #E6E6E6;
