@import "myhome.pm.variables.less";

.white {
    color: White !important;
}

.bg-title {
    background: @bg-title-bg-colour;
    padding: @bg-title-padding 10px @bg-title-padding;
    margin-bottom: 25px;
    margin-left: -25.5px;
    margin-right: -24.5px;
    color: white;
}

.bg-title .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    float: right;
    padding: 0;
    margin-top: 8px;
}

.bg-title .breadcrumb a {
    color: rgba(0,0,0,.5);
}

.bg-title h4 {
    text-transform: uppercase;
    font-size: @bg-title-font-size;
    font-weight: 500;
    margin-top: 6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rubik,sans-serif;
    margin: 10px 0;
    font-weight: 300;
}

.myhome-blue {
    color: @sidebar-bg-colour;
}

.text-compact {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

textarea {
    resize: none;
}
