@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import "myhome.pm.variables.less";

/*Main layout*/
.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #fff
}

.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px)
}

.preloader .circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    transform-origin: center center;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.preloader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #313131;
    min-width: 1200px;
}

* {
    outline: 0 !important
}

#wrapper {
    width: 100%;
}

/*Navbar*/
.navbar-default {
    position: relative;
    width: 100%;
    top: 0
}

.sidebar {
    z-index: 1001;
    position: fixed;
    width: @sidebar-width;
    padding-top: 0;
    height: 100%;
    transition: .05s ease-in
}

.fix-header .navbar-static-top {
    position: fixed;
    z-index: 1010
}

.navbar-default {
    border: 0;
}

.navbar-header {
    width: 100%;
    background: #f7f7f7; /*#336699;*/
    border: 0;
}

.top-left-part {
    width: @sidebar-width;
    float: left;
    /*border-right: 1px solid rgba(0,0,0,.08);*/
    background: #fff;
    height: @topbar-size;
    padding-top: (@topbar-size - @logo-size)/2;
}

.logo {
    display: block;
    width: 100%;
}

.logo img {
    display: block !important;
    margin: 0 auto;
    max-height: @logo-size;
}

.sidebar {
    background: @sidebar-bg-colour;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
}

.sidebar .fa-fw {
    width: 20px;
    text-align: center !important;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    margin-right: 7px;
    font-size: 16px;
    vertical-align: middle;
}

#side-menu {
    overflow: hidden;
    padding-top: @topbar-size;
    border-top: 4px solid @sidebar-bg-colour;
}

#side-menu li a {
    color: #fff;
    border-left: 0px solid #fff;
    padding: 15px 35px 15px 20px;
    display: block;
    width: @sidebar-width;
}

#side-menu > li > a:hover,
#side-menu > li > a:focus {
    background: rgba(0, 0, 0, 0.07);
}

#side-menu > li > a.active {
    color: @sidebar-active-colour;
    font-weight: 500;
}

#side-menu > li > a {
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-user {
    margin-top: 5px;
    margin-right: 10px;
}

.nav-user a {
    text-decoration: underline;
}

/*Page layout*/
#page-wrapper {
    padding: 0 0 60px;
    min-height: 568px;
    background: #f7f7f7;
}

.fix-header #page-wrapper {
    margin-top: @topbar-size;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 @sidebar-width;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

/*Margins*/
.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.full-width {
    width: 100%;
}
